# Local .terraform directories
**/.terraform/*

# .tfstate files
Terraform/*.tfstate
Terraform/*.tfstate.*
Terraform/.terraform.lock.hcl

# Crash log files
Terraform/crash.log
Terraform/crash.*.log



# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

Terraform/.terraformrc
Terraform/terraform.rc

# Ignore the "secrets" directory
secrets/